# Segmenting and Clustering Neighborhoods in Toronto

### 1. Creating notebook and importing libraries

In [10]:
import pandas as pd
import numpy as np
import pandas_profiling as pp

### 2. Collecting the datas <br/>
### 2.a) "scraping" with pandas <br/>
The datas to collect are from this page:
https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

In [3]:
toronto_from_html = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]
toronto_from_html.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

### Exploring data with pandas_profiling

In [ ]:
profile = pp.ProfileReport(toronto_from_html)
profile

### 2.b) Ignoring "Not assigned" Borough

In [22]:
toronto_from_html['Borough'].replace('Not assigned', np.nan, inplace=True)
toronto_from_html.dropna(subset=["Borough"], inplace=True)
toronto_from_html.head()

  Postal code                              Neighborhood      Borough
0         M1B                           Malvern / Rouge  Scarborough
1         M1C  Rouge Hill / Port Union / Highland Creek  Scarborough
2         M1E       Guildwood / Morningside / West Hill  Scarborough
3         M1G                                    Woburn  Scarborough
4         M1H                                 Cedarbrae  Scarborough

### 2.c) Combining neighborhood with the same postal code

In [15]:
toronto_from_html = toronto_from_html.groupby(['Postal code', 'Neighborhood'], as_index=False).agg(lambda x: ", ".join(x))
toronto_from_html.head()

  Postal code                              Neighborhood      Borough
0         M1B                           Malvern / Rouge  Scarborough
1         M1C  Rouge Hill / Port Union / Highland Creek  Scarborough
2         M1E       Guildwood / Morningside / West Hill  Scarborough
3         M1G                                    Woburn  Scarborough
4         M1H                                 Cedarbrae  Scarborough

### 2.d) Assigning Borough to "Not assigned" Neighborhood

In [16]:
for index, row in toronto_from_html.iterrows():
    if row["Neighborhood"] == "Not assigned":
        row["Neighborhood"] = row["Borough"]
        
toronto_from_html.head()

  Postal code                              Neighborhood      Borough
0         M1B                           Malvern / Rouge  Scarborough
1         M1C  Rouge Hill / Port Union / Highland Creek  Scarborough
2         M1E       Guildwood / Morningside / West Hill  Scarborough
3         M1G                                    Woburn  Scarborough
4         M1H                                 Cedarbrae  Scarborough

In [19]:
toronto_cleaned_data = toronto_from_html
toronto_cleaned_data.head()

  Postal code                              Neighborhood      Borough
0         M1B                           Malvern / Rouge  Scarborough
1         M1C  Rouge Hill / Port Union / Highland Creek  Scarborough
2         M1E       Guildwood / Morningside / West Hill  Scarborough
3         M1G                                    Woburn  Scarborough
4         M1H                                 Cedarbrae  Scarborough

### 2.e) printing the cleaned dataset shape

In [23]:
toronto_cleaned_data.shape

(103, 3)